html {
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button {
  border: none;
  background: greenyellow;
  text-transform: uppercase;
  padding: 7px 15px;
  margin: 5px;
  border-radius: 15px;
  transition: all .1s ease-in-out;
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}
button:active {
  transform: scale(0.9);
  outline: none;
}
button:focuse {
  outline: none;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-list__heading {
  width: 100%;
  text-align: center;
}

.contact-card {
  flex-basis: 250px;
  margin: 20px;
  background-color: rgb(240, 240, 240);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.contact__name {
  margin-top: 0;
}

.contact__phone {
  margin-top: 0;
}

.contact__address p {
  margin: 0;
}

.contact__address {
  margin-bottom: 10px;
}

.contact__buttons {
  margin-top: auto;
  align-self: flex-end;
}

.contact__delete {
  background-color: red;
  color: white;
}